/* ABOUT PAGE SPECIFIC STYLES GO HERE! */

main h1 {
  font-size: 3em;
  line-height: 60px;
  padding: 20px 0 30px;
  text-align: center;
}

.person {
  height: 240px;
  width: 600px;
  margin: 0 auto;
}

h3 {
  padding-bottom: 5px;
  margin-left: 30px;
}

img {
  float: left;
  margin: 0 30px;
}
