/* ABOUT PAGE SPECIFIC STYLES GO HERE! */

main h1 {
  font-size: 3em;
  line-height: 60px;
  padding: 30px 0;
  text-align: center;
}

.person {
  display: inline-block;
  width: 400px;
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  line-height: 36px;
}
