/*This is for the flyout menu styling*/
* {
  margin: 0;
}
section {
  z-index: 1;
  position: absolute;
  width: 41px;
  height: 500px;
  margin-top: 50px;
  background: #cf2f26;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  transition: 450ms all;
}

span {
  width: 150px;
  position: absolute;
  display: block;
  transform: rotate(-90deg);
  left: -55px;
  top: 80px;
  font-family: "Source Code Pro", monospace;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

select {
  display: none;
}

.flyout_text {
  display: none;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  /*margin: 10px;*/
  padding: 30px 15px 10px 0;
}

form {
  margin-left: 35px;
}

.active {
  background: rgba(207, 47, 38, .9);
  width: 300px;
}

#type_dd, #cost_dd {
  margin-left: 7px;
}

#code_cb {
  display: none;
  width: 25px;
  height: 25px;
}
