/* LOCATION PAGE SPECIFIC STYLES GO HERE! */
section {
  clear: both;
}

section h2, h3 {
  padding: 30px 0 20px;
  margin: 0 30px;
}

section h3 {
  color: #cf2f26;
  font-family: "Monda", sans-serif;
  text-align: center;
  border-bottom: 1px solid #4d4d4d;

}

#details {
  display: none;
}

#details div {
  float: left;
}

#details img {
  display: block;
  float: left;
  width: 300px;
  padding: 0 30px;
}

#details p, #details li {
  font-family: "Source Code Pro", monospace;
  font-size: 1.25em;
}

#details li {
  padding-bottom: 10px;
  list-style: disc inside none;
}

#details p, #details li:last-child {
  padding-bottom: 15px;
}

#details .above_list {
  padding-bottom: 10px;
}

#reviews {
  display: none;
  width: 960px;
  margin: 30px 0;
}

#reviews li {
  padding: 0 30px;
}

#reviews p {
  font-family: Georgia, serif;
  font-size: 1em;
  padding-top: 10px;
}

#reviews p:last-child {
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 30px;
}

#all_restaurants {
  display: none;
}

#all_restaurants ul {
  padding-top: 30px;
}

#all_restaurants li {
  float: left;
  width: 410px;
  padding: 0 0 30px 60px;
}

#all_restaurants li h4 {
  color: #cf2f26;
}
