* {
  outline: 1px dashed blue;
}

/* BASE STYLES */

body {
  background-color: #262626;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 24px;
}

header, footer {
  width: 100%;
  background-color: #a51a13;
}

main {
  width: 960px;
  margin: 0 auto;
}

/*section tag reserved for flyout */
section {
  z-index: 1;
  position: fixed;
  height: 500px;
  width: 35px;
  margin-top: 50px;
  background-color: #19757e;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  transition: 450ms all;
}
/*span tag reserved for flyout */
span {
  position: absolute;
  display: block;
  transform: rotate(-90deg);
  width: 150px;
  left: -55px;
  top: 65px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #BBE1E5;
}

.flyout_text {
  display: none;
  margin: 10px
  color: #19757E;
}

form {
  margin-left: 35px;
}

.active {
  background-color: #BBE1E5;
  width: 40%;
}

/*select tag reserved for flyout */
select {
  display: none;
}

h1, h2 {
  font-family: "Monda", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25em;
}

h3, h4 {
  font-family: "Source Code Pro", monotype;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

#map {
  height: 500px;
  width: 500px;
  display:block;
  margin: 30px auto;
  color: black;
}

header div {
  width: 960px;
  margin: 0 auto;
}

header h1 {
  font-size: 4em;
  text-align: center;
  padding: 30px 0 35px;
}

#description h4 {
  text-align: center;
  margin: 10px 0;
}

footer {
  font-family: "Source Code Pro", monotype;
  height: 70px;
}

footer p {
  padding: 20px 0;
  text-align: center;
}
